@tailwind base;
@tailwind components;
@tailwind utilities;

svg.logo-style-1 .Logo_svg__color-1 {
  @apply fill-black;
}

svg.logo-style-1 .Logo_svg__color-2 {
  @apply fill-accent-1;
}

svg.decore-plus-style-1 .decore-plus_svg__gray {
  @apply fill-accent-6;
}
svg.decore-plus-style-1 .decore-plus_svg__color-1 {
  @apply fill-accent-5;
}
svg.decore-plus-style-1 .decore-plus_svg__color-2 {
  @apply fill-accent-7;
}

body {
  @apply bg-slate-50;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
